// ~/Sites/_Projects\ Assets/hugo-template/docs/Sass\ Mixins/A\ Better\ Clearfix\ with\ Sass

/**

    Clearfix
    http://blog.teamtreehouse.com/a-better-clearfix-with-sass

    .wrap {
        ...
        @include clearfix;
    }

*/

/**

    Placeholder selectors

    %clearfix {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

*/

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
