// ~/Sites/_Projects\ Assets/hugo-template/docs/Sass\ Mixins

/**

    Helper Mixins

    Index
    - Contain floats / clearfix
    - Hide from both screenreaders and browsers
    - Visible3
    - Hide only visually, but have it available for screenreaders
    - Viewport height reset
    - Allow the element to be focusable when navigated to via the keyboard
    - Hide visually and from screenreaders, but maintain layout
    - Align vertical and horizontal
    - Appearance
    - Backface visibility
    - Position
    - Pseudo
    - Selection
    - Truncate
    - Unlist
    - Unselectable

*/

// Contain floats / clearfix
@mixin cf {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// Hide from both screenreaders and browsers
@mixin hidden {
    display: none;
    visibility: hidden;
}

// Visible
@mixin visible($state: "block") {
    display: unquote($state);
    visibility: visible;
}

// Hide only visually, but have it available for screenreaders
@mixin vh($focusable: false) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @if $focusable {
        @include vh-focusable;
    }
}

// Viewport height reset
@mixin vh-reset {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Allow the element to be focusable when navigated to via the keyboard
@mixin vh-focusable {
    &:active,
    &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

// Hide visually and from screenreaders, but maintain layout
@mixin invisible {
    visibility: hidden;
}

// Align vertical and horizontal
@mixin align($vertical: true, $horizontal: false, $position: relative) {
    @if $position {
        position: $position;
    }

    @if $vertical {
        top: 50%;
    }

    @if $horizontal {
        left: 50%;
    }

    @if $vertical and $horizontal {
        transform: translateX(-50%) translateY(-50%);
    }
    @else if $vertical {
        transform: translateY(-50%);
    }
    @else {
        transform: translateX(-50%);
    }
}

// Appearance
@mixin appearance($val: none) {
    -webkit-appearance: $val;
    -moz-appearance: $val;
    appearance: $val;
}

// Backface visibility
@mixin hardware($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }

    perspective: $perspective;
}

// Position
@mixin pos($pos, $t, $r, $b, $l, $z: false, $hardware: true) {
    @if $pos == fixed and $hardware {
        @include hardware;
    }

    @if $pos {
        position: $pos;
    }

    @if $t {
        top: $t;
    }

    @if $r {
        right: $r;
    }

    @if $b {
        bottom: $b;
    }

    @if $l {
        left: $l;
    }

    @if $z {
        z-index: $z;
    }
}

// Pseudo
@mixin pseudo($display: block, $pos: absolute, $content: "") {
    content: $content;
    display: $display;
    position: $pos;
}

// Selection
@mixin selection {
    ::-moz-selection {
        @content;
    }

    ::selection {
        @content;
    }
}

// Truncate
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Unlist
@mixin unlist($margin: true, $padding: true) {
    @if $margin {
        @if $margin == "vertical" {
            @include flush--ends;
        }
        @else if $margin == "horizontal" {
            @include flush--sides;
        }
        @else {
            margin: 0;
        }
    }

    @if $padding {
        padding: 0;
    }

    list-style: none;
}

// Unselectable
@mixin unselectable {
    -webkit-touch-callout: none;
    user-select: none;
}
