// ~/Sites/_Projects\ Assets/hugo-template/docs/Sass\ Mixins

/**

    Responsive Ratio
    
	Used for creating scalable elements that maintain the same ratio

	example:
	.element {
		@include responsive-ratio(400, 300);
	}

*/

@mixin responsive-ratio($x, $y, $pseudo: false) {
    $padding: unquote($y / $x * 100 + "%");

    @if $pseudo {
        &::before {
            @include pseudo($pos: relative);

            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
}
