<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />


{{/*  SECTION: og:image
=======================================================================  */}}

{{ if .IsPage }}
    {{ with .Params.images }}
        {{ range first 6 . }}
            <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
    {{ end }}

{{ else }}

    {{ with .Site.Params.images }}
        {{ range first 6 . }}
            <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
    {{ end }}
{{ end }}


{{ if not .Date.IsZero }}
    <meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
{{ end }}

{{ with .Params.audio }}
    <meta property="og:audio" content="{{ . }}" />
{{ end }}

{{ with .Params.locale }}
    <meta property="og:locale" content="{{ . }}" />
{{ end }}

{{ with .Site.Params.title }}
    <meta property="og:site_name" content="{{ . }}" />
{{ end }}

{{ with .Params.videos }}
    {{ range .Params.videos }}
        <meta property="og:video" content="{{ . | absURL }}" />
    {{ end }}
{{ end }}

{{/*  If it is part of a series, link to related articles  */}}
{{ $permalink := .Permalink }}
{{ $siteSeries := .Site.Taxonomies.series }}

{{/*  End: og:image  */}}


{{/*  SECTION: og:see_also
=======================================================================  */}}

{{ with .Params.series }}
    {{ range $name := . }}
        {{ $series := index $siteSeries $name }}
        {{ range $page := first 6 $series.Pages }}
            {{ if ne $page.Permalink $permalink }}
                <meta property="og:see_also" content="{{ $page.Permalink }}" />
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{/*  End: og:see_also  */}}


{{/*  SECTION: Authors
=======================================================================  */}}

{{ if .IsPage }}
    {{ range .Site.Params.Authors }}
        {{ with .Social.facebook }}
            <meta property="article:author" content="https://www.facebook.com/{{ . }}" />
        {{ end }}
        {{ with .Site.Social.facebook }}
            <meta property="article:publisher" content="https://www.facebook.com/{{ . }}" />
        {{ end }}

        <meta property="article:published_time" content="{{ .PublishDate }}" />
        <meta property="article:modified_time" content="{{ .Date }}" />
        <meta property="article:section" content="{{ .Section }}" />

        {{ with .Params.tags }}
            {{ range first 6 . }}
                <meta property="article:tag" content="{{ . }}" />
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{/*  End: Authors  */}}


{{/*  SECTION: Facebook
=======================================================================  */}}

{{/*  Facebook Page Admin ID for Domain Insights  */}}
{{ with .Site.Social.facebook_admin }}
    <meta property="fb:admins" content="{{ . }}" />
{{ end }}

{{ with .Site.Social.facebook_app_id }}
    <meta property="fb:app_id" content="{{ . }}" />
{{ end }}

{{/*  End: Facebook  */}}
