{{ define "main" }}

    <section class="section">
        <div class="container">

            <p class="content">
                {{ .Content }}
            </p>

            {{ partial "pages/rangePages.html" . }}

        </div>
    </section>

    {{/* https://www.netlify.com/blog/2018/07/24/hugo-tips-how-to-create-author-pages/?utm_campaign=tool&utm_medium=website&utm_source=thenewdynamic.org  */}}
    {{ range .Params.authors }}
        {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
            <figure>
                <img src="{{ .Params.photo }}" alt="" />
                <figcaption>
                    <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                </figcaption>
            </figure>
        {{ end }}
    {{ end }}

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
