{{ define "main" }}

    {{ if in (print .URL) "post" }}
        <p class="text-center" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            You are in "Posts" and are reading:
            <br>
            {{ .Title }} of {{ .Date.Day }}. {{ index $.Site.Data.monthsGerman (printf "%d" .Date.Month) }} {{ .Date.Year }}
            <br>
            <small>{{ partial "post/readingTime.html" . }}</small>

        </p>
    {{ end }}


    {{/*  SECTION: Series
    =======================================================================  */}}

    {{/*
        NOTE: https://npf.io/2014/08/making-it-a-series/
        https://github.com/natefinch/npf
    */}}

    {{ if .Params.series }}
        <hr>
        {{ $name := index .Params.series 0 }}
        <p class="seriesname text-center">
            This post is part of series: <a href="{{ .Site.BaseURL }}/series/{{ $name | urlize }}">{{ $name }}</a>
        </p>

    {{ end }}

    {{/*  End: Series  */}}


    {{/*  SECTION: Description
    =======================================================================  */}}

    {{/*
        NOTE: This is the check whether the headline is longer than
        80 characters. In case this is true the class 'long-title'
        is added and so the larger headline can be styled with CSS.
    */}}

    <article>
        <p class="is-size-4">
            Description: {{ .Params.description }}
        </p>

        {{ if .Params.draft }}
            <span style="color: red; font-weight: bold;">DRAFT!</span>
        {{ end }}

        {{ .Content }}
    </article>

    {{/*  End: Description  */}}

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
