// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**

    Make all elements from the DOM inherit from the parent box-sizing
    Since '*' has a specificity of 0, it does not override the 'html' value
    making all elements inheriting from the root box-sizing value
    See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

        *, *::before, *::after {
            box-sizing: inherit;
        }

    Set up a decent box model on the root element

        html {
            box-sizing: border-box;
        }

    These rules are deactivated here because they are already included in './assets/dependencies/_modern-normalize.scss'

*/


/**

    Force vertical Scrollbar

        html { height: 101% }

    or

        html { overflow-y: scroll; }

*/
html {
  overflow-y: scroll;
}

// https://gist.github.com/Lego2012/aec204e71073601d8d8eff99f6e258cd
:focus:not(:focus-visible) {
  outline: none;
}

i {
  margin-left: rem(30px);
}

.is-divider {
  background-color: yellow;
}
