// './assets/dependencies/_rem.scss'
@import "rem";

// Typography Styles
// Import of Google Fonts and the typography variables are
// in './assets/scss/abstracts/variables.scss'

/* h1, h2 {
    font-family: $headline;
}

body {
    font-family: $bodyfont;
} */
