{{/*  NOTE: We care about your data, and we'd love to use cookies to make your experience smooth'n'silky. Learn more...  */}}

<script type="text/javascript">
    window.cookieconsent_options = {
        message: 'Wir kümmern uns um Ihre Daten, und wir würden gerne Cookies verwenden, um Ihr Interneterlebnis so angenehm wie möglich zu gestalten.',
        dismiss: 'Ok, verstanden',
        learnMore: 'Mehr Infos',
        link: '/datenschutz/',
        theme: 'dark-bottom'
    };
</script>
<script type="text/javascript" src="//s3.amazonaws.com/valao-cloud/cookie-hinweis/script-v2.js"></script>
