{{ if eq .Page.Params.showPages "all" }}

    {{ range .Site.Pages }}
        <ul>
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
        </ul>
    {{ end }}

{{ else if eq .Page.Params.showPages "regular" }}

    {{ range .Site.RegularPages }}
        <ul>
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
        </ul>
    {{ end }}

{{ else }}
    {{/*  Nothing if all conditions are true  */}}
{{ end }}
