{{ if .Params.pageImage.name }}
    {{ $pageimageurl := .Site.Params.imageURL }}
    {{ $pageimage := .Page.Params.pageImage }}

    <figure>
        <img src="{{ $pageimageurl }}{{ $pageimage.name }}.jpg" alt="{{ $pageimage.alt }}">
        <figcaption>
            This picture appears because in page Front Matter an image name (without extension) is set in the variable <code>pageImage</code>. The image is processed by the partial <code>image.html</code>.
        </figcaption>
    </figure>

{{ else }}

    <p>
        Here an image would be shown if in page Front Matter an image name is set in the variable <code>pageImage</code>.
    </p>

{{ end }}
