{{ template "_internal/opengraph.html" . }}
{{ template "_internal/google_news.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ partial "ie.html" . }}

<link href="https://plus.google.com/{{ .Site.Params.social.googleplus }}" rel="publisher">

{{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />
{{ end }}

{{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
{{ end }}

{{ if .Site.Params.geo.latitude }}
    <meta name="icbm" content="{{ .Site.Params.geo.latitude }},{{ .Site.Params.geo.longitude }}">
    <meta name="geo.position" content="{{ .Site.Params.geo.latitude }};{{ .Site.Params.geo.longitude }}">
{{ end }}

{{ if and (eq .Site.Params.env "PUBLIC") (ne .Site.GoogleAnalytics "") }}
    {{ partial "google/googleAnalytics.html" . }}
{{ end }}

{{/*  Switch off Microsoft junk  */}}
<meta name="MSSmartTagsPreventParsing" content="true">
<meta http-equiv="imagetoolbar" content="no">

<link rel="canonical" href="{{ .Permalink | absURL }}">
