<div class="col-6 card" id="categories">

    {{ if .Params.categories }}
        <p class="card-title">Diese Kategorien sind zugeordnet:</p>

        {{ range .Params.categories }}
            <ul class="card-body">
                <li>
                    <a href="/categories/{{ . | urlize }}">{{ . }}&nbsp;</a>
                </li>
            </ul>
        {{ end }}

    {{ else }}

        <p class="card-title">Keine Kategorien zugeordnet.</p>
        
    {{ end }}

</div>
