{{ define "main" }}

    <h1 itemprop="headline">...aaand that's a broken link!</h1>

    <section itemprop="entry-text">
        <p>Technically this is called <strong>HTTP Error 404</strong>.</p>
        <p>The link you used leads to nowhere.</p>
    </section>

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
