{{/*  Generates a site map for humans where pages and posts are listed in alphabetical order.  */}}

<h2>Die Seiten dieser Webseite</h2>

<ul>
    {{ range (where .Site.Pages.ByTitle ".Type" "page") }}
        <li>
            <article itemscope itemtype="http://schema.org/Blog">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </article>
        </li>
    {{ end }}
</ul>

<h2>Die Artikel dieser Webseite</h2>

<ul>
    {{ range (where .Site.Pages.ByTitle ".Type" "post") }}
        <li>
            <article itemscope itemtype="http://schema.org/Blog">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </article>
        </li>
    {{ end }}
</ul>
