{{/*
    NOTE: Here the pages are sorted by publish date in reverse order but section 'Three' is not included

    <ul>
        {{ range where .Site.Pages.ByPublishDate.Reverse "Section" "!=" "Three" }}
            <a href="{{ .Permalink }}"><li>{{.Title}}</li></a>
        {{ end }}
    </ul>
*/}}

<ul>
    {{ range .Site.RegularPages }}
        <a href="{{ .Permalink }}"><li>{{.Title}}</li></a>
    {{ end }}
</ul>
